{% extends "app/home.html" %}

{% load static %}

<title>{% block title %}Doctor - Graceview Hospital{% endblock %}</title>

{% block content %}
<br><br>
<div class = "container">
<div class = "spacer">
<h2>Doctor's Signup Form</h2><br><br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ docinstance.as_p }} <br>
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
    <button type="submit" class="btn btn-outline-primary">Signup</button> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
    <a href="{% url 'doclog' %}" class="btn btn-outline-primary">Login</a>
</form>
</div>
</div>
{% endblock %}