{% extends "app/home.html" %}

{% load static %}

<title>{% block title %}Do What{% endblock %}</title>

{% block content %}
<div class = "container">
<div class = "spacer">
<a href="{% url 'addpatient' %}" class="btn btn-outline-primary">Add New Patient</a>
&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<a href="{% url 'docsign' %}" class="btn btn-outline-primary">Add New Doctor</a>
&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<a href="{% url 'feedb' %}" class="btn btn-outline-primary">Feedback!</a>
&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<a href="{% url 'home' %}" class="btn btn-outline-primary">Home</a>

</div>
</div>
{% endblock %}